# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# environment variables
.env

#dataset — ignore everything inside but keep the directory (track dataset/.gitkeep)
dataset/**

#visualizing figures
figures

#logger
logs/*.log


#notebook
Colab_Script.ipynb

#model registry 
registry

#mlflow db
mlflow.db
mlruns

#inference folder
app/inference_results

#pyproject
pyproject.toml

#Readme
README.md

#gitignore
.gitignore